/*
fonts:
montserrat
fira mono
Jost, Sen,
Monaco
*/

@font-face {
  font-family: 'Google Sans';
  src: url('./assets/fonts/ProductSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Light';
  src: url('./assets/fonts/Montserrat-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  transition: all 0.2s ease;
}

a {
  font-family: 'Montserrat';
  font-size: 18px;
  text-decoration: none;
  color: #000;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 10px;
}

a:hover {
  background: #f4f4f4;
  color: rgb(64, 27, 231);
}

a:active {
  background-color: rgb(64, 27, 231);
  color: #fff;
  transition: all 0.1s ease;
}

h1,h2,h3,h4 {
  font-weight: normal;
  padding: 0px;
}

h1 {font-size: 44px;}
h2 {font-size: 30px;}
h3 {font-size: 26px;}
h4 {font-size: 22px;}
p {font-size: 20px;}

ul, ol {  
  list-style-type: none;
}

input {
  font-size: 20px;
  font-family: 'Google Sans';
}

input:focus {
  outline: none;
}

input[type='text'] {
  background-color: #fff;
  border: none;
  border-radius: 50%;
}

button {
  background: #fff;
  border: none;
}

body {
  background: #e2e1e0;
  font-family: 'Google Sans', 'Montserrat', 'Segoe UI';
  font-size: 19;
}

.eightyperc-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.ninetyfiveperc-container {
  width: 95%;
  margin: auto;
  overflow: hidden;
}

.header {
  background-color: #fff;
  color: rgb(64, 27, 231);
  padding: 7px;
  margin-bottom: 20px;
  box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
}

.header-main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  flex-flow: row wrap;
}

.heading-type1 {
  margin-bottom: 20px;
  padding: 10px;
  color: #fff;
}

.heading-type2 {
  margin-bottom: 10px;
  padding: 10px;
  color: #e4e4e4;
}

.heading-type3 {
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 5px solid rgb(64, 27, 231);
  font-family: 'Montserrat';
}

.showcase-main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  margin: 20px 0;
  padding: 20px;
  background-color: #333;
  border: 1px solid #fff;
}

.showcase-header {
  margin-bottom: 30px;
}

.searchbar-form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  padding: 0 10px;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
}

.searchbar-form input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 50px;
}

.searchbar-form button {
  color:rgb(64, 27, 231);
  margin: 5px;
  padding: 10px 30px;
  border-radius: 50px;
}

.searchbar-form button:hover {
  background-color: #e4e4e4;
  color: rgb(64, 27, 231);
}

.searchbar-form button:active {
  background-color: rgb(64, 27, 231);
  color: #fff;
  transition: all 0.1s ease;
}

.category-main {
  margin: 20px auto;
  padding: 20px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
}

.category-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

.category-card {
  flex: 0.33;
  margin: 10px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  min-height: 150px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}